@font-face {
  font-family: "zabars";
  src: url("fonts/zabars.ttf") format("truetype");
  font-weight: 200;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("./img/5_background/body_background_11.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  /* background-image: url("./img/5_background/layers/air.png"); */
}

h1 {
  margin-top: 100px;
  font-size: 56px;
  /* text-shadow: 2px 2px rgba(255, 255, 255, 0.4); */
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
  color: #2e1109;
}

canvas {
  background-color: black;
  /* border: 3px solid #ea8d43; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
  /* display: block; */
}
