@font-face {
  font-family: "zabars";
  src: url("fonts/zabars.ttf") format("truetype");
  font-weight: 200;
}

body {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("./img/5_background/body_background_11.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  /* background-image: url("./img/5_background/layers/air.png"); */
}

h1 {
  /* font-size: 56px; */
  /* text-shadow: 2px 2px rgba(255, 255, 255, 0.4); */
  /* text-shadow: 2px 2px rgba(0, 0, 0, 0.4); */
  letter-spacing: 2px;
  /* color: #2e1109; */
  margin-block-start: 0;
  font-weight: bold;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.margin_top {
  margin-top: 100px;
}

canvas {
  background-color: black;
  /* border: 3px solid #ea8d43; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
  display: block;
  /* justify-content: space-between; */
}

.relative {
  position: relative;
}

.canvas_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.img_mute {
  margin-left: 4px;
}

.img_home {
  width: 32px;
  height: auto;
}

.start_screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-image: url("./img/9_intro_outro_screens/start/startscreen_2.png");
  background-size: 720px 480px;
  background-repeat: no-repeat; */
  z-index: 1;
  width: 720px;
  height: 480px;
  border-radius: 10px;
  position: relative;
}

.start_screen_bg_image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.screen_with_back_button {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-image: url("./img/5_background/first_half_background.png");
  background-size: 720px 480px;
  background-repeat: no-repeat; */
  z-index: 1;
  width: 720px;
  height: 480px;
  border-radius: 10px;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.white_info_container {
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 24px;
  position: absolute;
  top: 10%;
}

.white_info_container_UserManuel {
  width: 40%;
}

.white_info_container_canvas {
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 24px;
  width: 30%;
  position: absolute;
  top: 200%;
}

.start_screen button,
.screen_with_back_button button,
.responsive_buttons_left button,
.responsive_buttons_right button,
.canvas_button_container button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #ff9900, #ffdd00);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: 1px solid #c65227;
  box-shadow: 2px 2px #a33d18;
}

.container_win_loose_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  /* top: 20%; */
}

.start_screen button:hover,
.screen_with_back_button button:hover,
.responsive_buttons_left button:hover,
.responsive_buttons_right button:hover,
.canvas_button_container button:hover {
  transform: scale(1.1); /* Beim Hovern um 10% vergrößern */
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); */
}

img {
  width: 24px;
  height: 24px;
}

.img_back_menu {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

.lower_btns_container,
.upper_btns_container {
  width: 720px;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.upper_btns_container {
  top: 0;
}

.lower_btns_container {
  bottom: 0;
}

.win_loose_text {
  width: 50%;
  height: auto;
  margin-top: 10%;
}

.width_720 {
  width: 100%;
  height: 70px;
}

.key_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.white_info_container p,
.white_info_container_canvas p {
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 4px;
}

.white_info_container img,
.white_info_container_canvas img {
  width: 32px;
  height: 32px;
}

.imprint {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 70%;
}

.imprint p {
  margin: 0;
  font-size: 12px;
}

.credits_container p,
.credits_container a {
  font-size: 12px;
}

.credits_container {
  width: 100%;
}

.upper_btns_container_canvas {
  z-index: 2;
}

.responsive_button_container {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: none;
  justify-content: space-between;
  align-items: flex-end;
}

.absolut_top_0 {
  position: absolute;
  top: 0;
  z-index: 99;
}

.rotate_screen {
  display: none;
}

.responsive_buttons_left,
.responsive_buttons_right {
  display: flex;
}

/* .full_screen {
  width: 100vw !important;
  height: 100vh !important;
} */

.d_flex {
  display: flex;
}

.d_none {
  display: none;
}

@media only screen and (max-width: 720px) {
  .imprint p {
    margin: 0;
    font-size: 8px;
  }

  .imprint a {
    font-size: 8px;
  }

  .imprint h3 {
    font-size: 12px;
  }

  br {
    display: none;
  }

  #fullScreenContainer {
    width: 100%;
    height: auto;
  }

  .relative {
    width: 100%;
    border-radius: 0;
    height: auto;
  }

  .start_screen {
    width: 100%;
    border-radius: 0;
    height: auto;
  }
  .screen_with_back_button {
    width: 100%;
    border-radius: 0;
    height: auto;
  }

  canvas {
    width: 100%;
    border-radius: 0;
  }

  .responsive_button_container {
    display: flex;
    width: 100%;
  }

  .upper_btns_container {
    width: 100%;
  }

  h1 {
    display: none;
  }

  /* .start_screen button,
  .screen_with_back_button button,
  .responsive_buttons_left button,
  .responsive_buttons_right button,
  .canvas_button_container button {
    width: 24px;
    height: 24px;
  }

  .start_screen button:hover,
  .screen_with_back_button button:hover,
  .responsive_buttons_left button:hover,
  .responsive_buttons_right button:hover,
  .canvas_button_container button:hover {
    transform: scale(0);
  } */
}

@media only screen and (max-height: 480px) {
  #fullScreenContainer {
    height: 100vh;
  }

  .relative {
    height: 100vh;
    border-radius: 0;
  }

  .start_screen {
    height: 100vh;
    border-radius: 0;
  }

  .screen_with_back_button {
    height: 100vh;
    border-radius: 0;
  }

  .responsive_button_container {
    display: flex;
    height: 100vh;
    border-radius: 0;
  }

  canvas {
    height: 100vh;
    border-radius: 0;
  }

  h1 {
    display: none;
  }

  /* .start_screen button,
  .screen_with_back_button button,
  .responsive_buttons_left button,
  .responsive_buttons_right button,
  .canvas_button_container button {
    width: 32px;
    height: 32px;
  }

  .start_screen button:hover,
  .screen_with_back_button button:hover,
  .responsive_buttons_left button:hover,
  .responsive_buttons_right button:hover,
  .canvas_button_container button:hover {
    transform: scale(0);
  } */
}

@media screen and (orientation: portrait) and (min-height: 650px) and (max-width: 720px) {
  .rotate_screen {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-image: url("./img/5_background/body_background_11.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  body {
    overflow: hidden;
  }

  .white_info_container_rotateScreen {
    background-color: white;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 24px;
    position: absolute;
    /* top: 10%; */
    /* z-index: 101; */
  }

  .rotate_img {
    width: 20%;
    height: 20%;
  }

  .rotate_text {
    margin-block-start: 0;
    font-size: xx-large;
  }
}
